h1{
  color: rgb(211, 0, 0);
  text-align: center;
  background-color: rgb(0, 0, 0);
  line-height: 100px;
  text-shadow: 0px 0px 8px white;
}

h1:hover{

    background-color: azure;
    color: black;
    font-size: 50px;
}

p{
    font-weight: bolder;
    font-style: italic;
}

img{
    height: 400px;
    width: 400px;
}